body {
	background-color: #fffaf5;
}

html,
body {
	font-family: "Prompt", sans-serif;
}

.page-container {
	padding-top: 10vh;
}

.header-container {
	text-align: center;
}

.intro-wrapper {
	margin: 0 20vw;
	background-color: #f7e9d3;
	padding: 20px;
	border-radius: 15px;
}

.flex-wrapper {
	margin: 10px 20vw 0;
	width: 60vw;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.flex-wrapper-body {
	margin: 0 20vw;
	display: flex;
	width: 60vw;
	justify-content: space-around;
}

.list {
	width: 30vw;
}

/* media queries --------------------------------------*/
@media screen and (max-width: 980px) {
	.intro-wrapper {
		margin: 0 10vw;
	}
}
